/*
* makerkit.css
*
* GreenEcoGenius — global component styles
 */
.site-header > .container:before,
.site-footer > .container:before {
  background: radial-gradient(
    62.87% 100% at 50% 100%,
    #D1FAE5 0%,
    rgba(255, 255, 255, 0) 100%
  );

  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dark .site-header > .container:before,
.dark .site-footer > .container:before {
  background: radial-gradient(
    62.87% 100% at 50% 100%,
    rgba(82, 183, 136, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.site-footer > .container:before {
  top: 0;
}
